@model IEnumerable<_2021NCKH.Models.ThucVat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/VuonThucVat/Views/Shared/AdminLayout.cshtml";
    bool dk = false;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên Việt Nam
        </th>
        <th>
            Tên Khoa học
        </th>
        <th>
            Hình ảnh
        </th>
        <th>
            Họ thực vật
        </th>
        <th>
            Công thức hóa học
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.TenVietNam
            </td>
            <td>
                <i>@item.LoaiThucVat.TenLoaiThucVatDau</i> @item.LoaiThucVat.TenLoaiThucVatDuoi
            </td>
            <td>
                <img src="@Url.Action("Picture", new { id = item.MaCay })" width="80px" height="60px" />
            </td>
            <td>
                @item.LoaiThucVat.ChiThucVat.HoThucVat.TenHoThucVat
            </td>
            @foreach (var item1 in ViewData["CTHH"] as List<_2021NCKH.Models.ChiTietCTHH>)
            {
                if (item1.ThucVat1.MaCay == item.MaCay)
                {
                    dk = true;
                    break;
                }
            }
            @if (dk)
            {
        <td>
            @foreach (var item1 in ViewData["CTHH"] as List<_2021NCKH.Models.ChiTietCTHH>)
            {
                if (item1.ThucVat1.MaCay == item.MaCay)
                {
                    <p>@item1.ThanhPhanHoaHoc.TenDanhPhap,</p>
                }
            }
        </td>
            }
            else
            {
                <td>Chưa điền</td>  
            }
        <td>
            @Html.ActionLink("Thêm CTHH", "ThemCTHH", new { id = item.MaCay }) |
            @Html.ActionLink("Edit", "Edit", new { id = item.MaCay }) |
            @Html.ActionLink("Details", "Details", new { id = item.MaCay }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MaCay })
        </td>
        </tr>
    }

</table>
