@model _2021NCKH.Models.CacDeTaiDangNCCuaSV

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">

            <h2>Create</h2>
            @using (Html.BeginForm("Create", "CacDeTaiDangNCCuaSV", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Tạo danh sách bộ môn</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label for="StudentName">Tên nội dung</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TenCacDeTaiDangNCCuaSV, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TenCacDeTaiDangNCCuaSV, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="StudentName">Nội dung tóm tắt</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.NDTomTatCacDeTaiDangNCCuaSV, new { id = "Noidungtomtat", rows = "7", @class = "form-control", })
                            @Html.ValidationMessageFor(model => model.NDTomTatCacDeTaiDangNCCuaSV, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="StudentName">Nội dung chi tiết</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.NDChiTietCacDeTaiDangNCCuaSV, new { id = "Noidungchitiet", rows = "7", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.NDChiTietCacDeTaiDangNCCuaSV, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="IMG">Picture</label>
                        <div class="col-md-10">
                            <input class="form-control" type="file" name="Picture" id="IMG" onchange="readPicture(this)" accept="image/gif,image/jpeg,image/png" />
                        </div>
                        <img id="Picture" />
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Tạo nội dung" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Trở lại danh sách", "Index")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
                <script>
                    function readPicture(input) {
                        if (input.files && input.files[0]) {
                            var reader = new FileReader();

                            reader.onload = function (e) {
                                $('img#Picture').attr('src', e.target.result);
                            };

                            reader.readAsDataURL(input.files[0]);
                        }
                    }
                </script>
            }
        </div>
    </div>
</div>
