@model IEnumerable<_2021NCKH.Models.ChiThucVat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/VuonThucVat/Views/Shared/AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên chi thực vật
        </th>
        <th>
            Tên họ thực vật
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenChiThucVat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoThucVat.TenHoThucVat)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaChiThucVat }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaChiThucVat })
        </td>
    </tr>
}

</table>
