@model _2021NCKH.Models.PhanLopThucVat

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/VuonThucVat/Views/Shared/AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PhanLopThucVat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenPhanLopThucVat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenPhanLopThucVat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LopThucVat.TenLopThucVat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LopThucVat.TenLopThucVat)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
