@model _2021NCKH.Areas.VuonThucVat.Data.Lop

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lop</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenLop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nganh1.TenNganh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nganh1.TenNganh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
