@model _2021NCKH.Areas.VuonThucVat.Data.Ho

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ho</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenHo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bo1.TenBo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bo1.TenBo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
