<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
<<<<<<< HEAD
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/assets/img/NCKH img/header-logo/img-logo.png")">
    @Styles.Render("~/assets/css")
    @if (IsSectionDefined("css"))
    {
        @RenderSection("css", required: false)
    }
    <!-- CSS here -->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/owl.carousel.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/slicknav.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/animate.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/magnific-popup.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/fontawesome-all.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/themify-icons.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/slick.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/nice-select.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/style.css")">
=======

    <!-- Site Metas -->
    <title>SmartEDU - Education Responsive HTML5 Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="~/images/img-logo/img-logo-khoaduoc.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/images/img-logo/img-logo-khoaduoc.png">

    <!-- Bootstrap CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <!-- ALL VERSION CSS -->
    <link href="~/css/versions.css" rel="stylesheet" />
    <!-- Site CSS -->
    <link href="~/style.css" rel="stylesheet" />
    <!-- Responsive CSS -->
    <link href="~/css/responsive.css" rel="stylesheet" />

    <!-- Modernizer for Portfolio -->
    <script src="~/js/modernizer.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

>>>>>>> master
</head>
<body>
    @Html.Partial("~/Views/Shared/Common/Header.cshtml")
        @if (TempData["AMess"] != null)
        {
            <div id="noticeAlert" class="alert @TempData["AType"] hide" style="margin-top:30px">
                @TempData["AMess"]
            </div>
        }
        @RenderBody()
        @Html.Partial("~/Views/Shared/Common/Footer.cshtml")
    <!-- ALL JS FILES -->
    <script src="~/js/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="~/js/custom.js"></script>
    <script src="~/js/timeline.min.js"></script>
    <script>
        timeline(document.querySelectorAll('.timeline'), {
            forceVerticalMode: 700,
            mode: 'horizontal',
            verticalStartPosition: 'left',
            visibleItems: 4
        });
    </script>
</body>
</html>
