@model _2021NCKH.Models.HoThucVat

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/VuonThucVat/Views/Shared/AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HoThucVat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenHoThucVat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHoThucVat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoThucVat.TenBoThucVat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoThucVat.TenBoThucVat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaHoThucVat }) |
    @Html.ActionLink("Back to List", "Index")
</p>
