@model _2021NCKH.Models.PhanLopThucVat

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PhanLopThucVat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenPhanLopThucVat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenPhanLopThucVat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LopThucVat.TenLopThucVat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LopThucVat.TenLopThucVat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaPhanLopThucVat }) |
    @Html.ActionLink("Back to List", "Index")
</p>
