@model IEnumerable<_2021NCKH.Models.PhanLopThucVat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên Phân Lớp Thực Vật
        </th>
        <th>
            Loại Lớp Thực Vật
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenPhanLopThucVat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LopThucVat.TenLopThucVat)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaPhanLopThucVat }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaPhanLopThucVat }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaPhanLopThucVat })
        </td>
    </tr>
}

</table>
