@model IEnumerable<_2021NCKH.Models.NganhThucVat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên Ngành Thực Vật
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenNganhThucVat)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaNganhThucVat }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaNganhThucVat }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaNganhThucVat })
        </td>
    </tr>
}

</table>
