@model IEnumerable<_2021NCKH.Areas.VuonThucVat.Data.CayThucVat>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenVietNam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenKhoaHoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoPhanDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThanhPhanHoaHoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TacDungDuocLy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CongDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CachDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LieuDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Loai1.TenLoai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenVietNam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenKhoaHoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BoPhanDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThanhPhanHoaHoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TacDungDuocLy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CongDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CachDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LieuDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Loai1.TenLoai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
