@model IEnumerable<_2021NCKH.Models.ThucVat>
@{
    string nganh = "";
    string lop = "";
    string phanlop = "";
    string bo = "";
    string ho = "";
    string chi = "";
    string loai = "";
}
<style>
    table, th, td {
        border: 1px solid black;
    }

    th {
        align-content: center;
    }
</style>
<table>
    <tr>
        <th>Ngành</th>
        <th>Lớp</th>
        <th>Phân lớp</th>
        <th>Bộ</th>
        <th>Họ</th>
        <th>Chi</th>
        <th>Loài</th>
        <th>Cây</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    @if (item.LoaiThucVat.ChiThucVat.HoThucVat.BoThucVat.PhanLopThucVat.LopThucVat.NganhThucVat.TenNganhThucVat != nganh)
    {
        nganh = item.LoaiThucVat.ChiThucVat.HoThucVat.BoThucVat.PhanLopThucVat.LopThucVat.NganhThucVat.TenNganhThucVat;
        <td><a href="@Url.Action("Lop","Details", new { id = item.LoaiThucVat.ChiThucVat.HoThucVat.BoThucVat.PhanLopThucVat.LopThucVat.NganhThucVat.MaNganhThucVat })">@nganh</a></td>
    }
    else
    {
        <td></td>
    }
    @if (item.LoaiThucVat.ChiThucVat.HoThucVat.BoThucVat.PhanLopThucVat.LopThucVat.TenLopThucVat != lop)
    {
        lop = item.LoaiThucVat.ChiThucVat.HoThucVat.BoThucVat.PhanLopThucVat.LopThucVat.TenLopThucVat;
        <td><a href="@Url.Action("PhanLop","Details", new { id = item.LoaiThucVat.ChiThucVat.HoThucVat.BoThucVat.PhanLopThucVat.LopThucVat.MaLopThucVat })">@lop</a></td>
    }
    else
    {
        <td></td>
    }
    @if (item.LoaiThucVat.ChiThucVat.HoThucVat.BoThucVat.PhanLopThucVat.TenPhanLopThucVat != phanlop)
    {
        phanlop = item.LoaiThucVat.ChiThucVat.HoThucVat.BoThucVat.PhanLopThucVat.TenPhanLopThucVat;
        <td><a href="@Url.Action("Bo","Details", new { id = item.LoaiThucVat.ChiThucVat.HoThucVat.BoThucVat.MaBoThucVat })">@phanlop</a></td>
    }
    else
    {
        <td></td>
    }
    @if (item.LoaiThucVat.ChiThucVat.HoThucVat.BoThucVat.TenBoThucVat != bo)
    {
        bo = item.LoaiThucVat.ChiThucVat.HoThucVat.BoThucVat.TenBoThucVat;
        <td><a href="@Url.Action("Ho","Details", new { id = item.LoaiThucVat.ChiThucVat.HoThucVat.MaHoThucVat })">@bo</a></td>
    }
    else
    {
        <td></td>
    }
    @if (item.LoaiThucVat.ChiThucVat.HoThucVat.TenHoThucVat != ho)
    {
        ho = item.LoaiThucVat.ChiThucVat.HoThucVat.TenHoThucVat;
        <td><a href="@Url.Action("Chi","Details", new { id = item.LoaiThucVat.ChiThucVat.MaChiThucVat })">@ho</a></td>
    }
    else
    {
        <td></td>
    }
    @if (item.LoaiThucVat.ChiThucVat.TenChiThucVat != chi)
    {
        chi = item.LoaiThucVat.ChiThucVat.TenChiThucVat;
        <td><a href="@Url.Action("Loai","Details", new { id = item.LoaiThucVat.MaLoaiThucVat })">@chi</a></td>
    }
    else
    {
        <td></td>
    }
    @if (item.LoaiThucVat.TenLoaiThucVat != loai)
    {
        loai = item.LoaiThucVat.TenLoaiThucVat;
        <td><a href="@Url.Action("Cay","Details", new { id = item.MaCay })">@loai</a></td>
    }
    else
    {
        <td></td>
    }
    <td><a href="@Url.Action("Index","ThucVats1")">@item.TenVietNam</a></td>
</tr>
    }
</table>