@model _2021NCKH.Models.ThucVat

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/VuonThucVat/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ThucVat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenVietNam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenVietNam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenKhoaHoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKhoaHoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoThucVat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoThucVat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoPhanDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoPhanDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThanhPhanHoaHoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThanhPhanHoaHoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TacDungDuocLy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TacDungDuocLy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LieuDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LieuDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaiLieuThamKhao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiLieuThamKhao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiThucVat.TenLoaiThucVat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiThucVat.TenLoaiThucVat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaCay }) |
    @Html.ActionLink("Back to List", "Index")
</p>
